{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
    
<body class="bg-gray-100">

    <div class="container mx-auto px-16">
        <h1 class="text-3xl font-bold text-center mb-6 m-4 pb-8">Bienvenue sur notre page d'accueil</h1>

        {% if app.user %}
            <div id="boxContainer" class="grid gap-6 mb-4 grid-wrap lg:grid-cols-2 xl:grid-cols-3">
                {% for room in rooms %}

                {{ include('room_crud/show.html.twig') }}

                {% endfor %}

                <a href="{{ path('app_room_c_r_u_d_new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-48 h-48 rounded-lg shadow-md flex items-center justify-center cursor-pointer">Créer une Room</a>
            </div>
        {% else %}
            <div class="flex justify-center space-x-6">
                <a href="{{ path('app_login') }}" 
                    class="px-4 py-2 bg-blue-500 text-sm font-medium rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    Login
                </a>
                <a href="{{ path('app_register') }}" 
                    class="px-4 py-2 bg-blue-500 text-sm font-medium rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    S'inscrire
                </a>
            </div>
        {% endif %}
    </div>

    <script src="script.js"></script>

</body>

{% endblock %}
