{% extends 'base.html.twig' %}

{% block title %}Chatroom{% endblock %}

{% block body %}
{# Wrapper #}
<div class="flex flex-1 flex-col w-screen h-screen bg-slate-700 text-white flex-grow">
    {# Chat #}
    <div class="flex bg-slate-300 h-full">
        <div class="bg-blue-700 m-4 p-4 rounded-md h-fit w-fit rounded-tl-none">
            Test long text lorem ipsum blahblahblah here's the story about a man named stanley
        </div>
    </div>

    {# Interaction #}
    <div class="flex flex-col min-h-32 h-fit max-h-96 bg-green-900">
        {# Buttons #}
        <div class="flex flex-row justify-around">
            <button class="bg-blue-700 p-4">Bouton 1</button>
            <button class="bg-blue-700 p-4">Bouton 2</button>
            <button class="bg-blue-700 p-4">Bouton 3</button>
            <button class="bg-blue-700 p-4">Bouton 4</button>
        </div>

        {# Chat bar #}
        <div class="bg-slate-500 h-full p-4 m-4">
            Write here
        </div>
    </div>
</div>
{% endblock %}
