{% extends 'base.html.twig' %}

{% block title %}Catroom {{ id }}{% endblock %}

{% block body %}
{# Wrapper #}
<div class="flex flex-col w-screen h-screen bg-slate-800 text-white">

    {# Chat Section #}
    <div class="flex-1 overflow-y-auto p-8">
        {# Message #}
        <div class="flex-col">
            <span class="font-mono">Username#1</span>
            <div class="bg-blue-700 p-4 rounded-md w-fit max-w-7xl rounded-tl-none">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere velit et sapien rhoncus cursus. Sed scelerisque neque vel nulla pretium, eu tincidunt metus eleifend. Nulla facilisi. Duis a libero ultricies, rutrum mi a, convallis est. Nam finibus tortor et ante hendrerit rhoncus. Cras at faucibus dolor, at consequat velit. Maecenas vitae velit nibh.
            </div>
        </div>

        {# Message #}
        {% for message in messages %}
        <div class="flex-col w-full justify-items-end">
            <span class="font-mono">{{ message.getUser().getNickname() }}#{{ message.getUser().getId() }}</span>
            <div class="bg-blue-700 p-4 rounded-md w-fit max-w-7xl rounded-tr-none ">
                {{ message.getContent() }}
            </div>
        </div>
        {% endfor %}
    </div>

    {# Interaction Section #}
    <div class="bg-slate-700 border-t border-slate-800">
        
        {# Buttons Row #}
        <div class="flex justify-evenly p-6 bg-slate-600">
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 1</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 2</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 3</button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md">Button 4</button>
        </div>
        
        {# Chat Input Section #}
        <div class="flex items-center bg-slate-600 px-6 py-4">
            <input
                type="text"
                placeholder="Type your message here..."
                class="flex-1 bg-slate-500 text-white placeholder-slate-400 py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <button class="ml-4 bg-blue-600 hover:bg-blue-700 text-white py-2 px-6 rounded-md">Send</button>
        </div>
    </div>

</div>

{% endblock %}
