{{ form_start(form) }}
    <div class="flex justify-center items-center">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
