{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('room_crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_home') }}">Retour</a>

    {{ include('room_crud/_delete_form.html.twig') }}
{% endblock %}
