{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('room_crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_home') }}">Retour</a>

    {{ include('room_crud/_delete_form.html.twig') }}


<div class="flex justify-center items-center">
    <h1>Invitez vos amis</h1>
    <p>
        Voici votre lien d'invitation :
        <span id="inviteLink">{{ invitelink }}</span>
    </p>
    <button id="copyButton">Copier le lien</button>
    <p id="statusMessage"></p>
</div>

<script>
        document.getElementById('copyButton').addEventListener('click', async () => {
            const inviteLink = document.getElementById('inviteLink').textContent; // Récupère le lien
            const statusMessage = document.getElementById('statusMessage');

            try {
                await navigator.clipboard.writeText(inviteLink); // Copie le lien dans le presse-papiers
                alert("Lien copié dans le presse-papiers !");
                statusMessage.style.color = "green";
            } catch (err) {
                console.error("Erreur lors de la copie :", err);
                statusMessage.textContent = "Erreur : Impossible de copier le lien.";
                statusMessage.style.color = "red";
            }
        });
</script>



{% endblock %}
