{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Create new Room</h1>

    {{ include('room_crud/_form.html.twig') }}

    <a href="{{ path('app_room_c_r_u_d_index') }}">back to list</a>
{% endblock %}
